@model SignalR.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h3> @ViewData["Title"]</h3>
</div>

@{ 
    var maxColCount = 5;
}
<div class="row"> 
    <div class="col-lg-4">
        <div class="panel panel-default well">
            <div class="text-center" style="height: 100px">
                <div class="row">
                    <label class="h4">Session Code:</label>
                    <label id="sessionCode" class="h4"></label>
                </div>
                <div class="row">
                    <input type="button" id="startSessionButton" value="Start session" @*onclick="startSession()"*@ class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default well" style="overflow-y: scroll;">
            <div class="text-center" style="height: 100px">                
                <div id="chatroom"></div>
            </div>
        </div>        
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default well">
            <div class="text-center" style="height: 100px">
                <input type="button" value="Start vouting" id="startVoutingButton" @*onclick="startVouting()"*@ class="btn btn-success disabled" />
            </div>
        </div>        
    </div>
</div>



<table id="imageTable" class="table table-striped table-bordered">
    @{ 
        var counter = 0;
    }
    @for (int j = 0; j < Model.User.Images.Count / maxColCount + 1; j++)
    {
        @if (counter >= Model.User.Images.Count)
        {
            continue;
        }
        <tr id="@("tr-" + j)">
            
            @for (int i = 0; i < maxColCount; i++)
            {
                @if (counter >= Model.User.Images.Count)
                {
                    continue;
                }
                else
                {
                    var image = Model.User.Images[counter];
                    counter++;
                    <td id="@("image-cell-"+ image.Id)">   
                        <div class="row">                            
                            <div class="col-lg-10">
                                <div class="elem-val">
                                    <img src="data:image / png;base64, @image.Base64" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <span id="@("image-" + image.Id)" class="remove-img-val pull-right" data-tdId=@i data-trId=@j data-imageId=@image.Id>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </span>
                            </div>
                        </div>
                    </td>                    
                }
            }            
        </tr>
    }
    
</table>




<script>

    $(function () {
        $("#startVoutingButton").click(function () {
            connection.invoke("StartVoting", $("#sessionCode").text());
        });

        $("#startSessionButton").click(function () {
            connection.invoke('Start');
        });

        setClickToSpan();
    });

    function setClickToSpan() {
        $("span").on('click', '.glyphicon-remove', function () {
            debugger;
            var parentData = $(this).parent().data();
            var imgId = parentData.imageid;
            var tdId = parentData.tdid;
            var trId = parentData.trid;
            var model = {
                imgId: imgId
            }
            $.ajax({
                url: 'Home/RemoveImage/',
                type: 'post',
                dataType: "json",
                data: model,
                success: function (result) {
                    var table = $("#imageTable")[0];
                    table.rows[trId].deleteCell(tdId);
                }
            });
        });
    }

    //function showPopupRemove() {
    //    $(this).css("background-color", "#d2d2d2");
    //    $(this).find(".remove-img-val").css('display', 'inline-block');

    //}

    //function hidePopupRemove() {
    //    $(this).css("background-color", "white");
    //    $(this).find(".remove-img-val").css('display', 'none');
    //}

    var connection = new signalR.HubConnection('/chat');

    connection.on('Voting', function (sessionCode)
    {
        window.location.href = "@Url.Action("Voting", "Home")?sessionCode="+sessionCode;
    });

    connection.on('Join', function (text) {
        let elem = document.createElement("p");
        elem.appendChild(document.createTextNode(text));
        $("#chatroom").prepend(elem);
    });

    connection.on('SessionCode', function (code) {
        $("#sessionCode").text(code);
        $("#startVoutingButton").removeClass("disabled");
    });

    connection.on('File', function (base64, id) {        
        let table = $("#imageTable")[0];
        let rowCount = table.rows.length;
        let lastRow = table.rows[rowCount - 1];
        let lastRowColCount = lastRow.childElementCount;

        let newCell = document.createElement("td");
        newCell.setAttribute("id", "image-cell-" + id);

        var imgDiv = document.createElement("div");
        imgDiv.setAttribute("class", "elem-val");

        var img = document.createElement("img");
        img.setAttribute("src", "data:image / png;base64, " + base64);
        img.setAttribute("width", 100);
        img.setAttribute("height", 100);
        imgDiv.appendChild(img);

        var span2 = document.createElement("span");
        span2.setAttribute("class", "glyphicon glyphicon-remove");

        var span1 = document.createElement("span");
        span1.setAttribute("id", "image-" + id);
        span1.setAttribute("class", "remove-img-val");
        span1.setAttribute("data-imageId", id);
        span1.appendChild(span2);

        newCell.appendChild(imgDiv);
        newCell.appendChild(span1);

        if (lastRowColCount == @maxColCount) {
            span1.setAttribute("data-trId", rowCount);
            span1.setAttribute("data-tdId", 0);
            
            let newRow = document.createElement("tr");
            newRow.insertCell(0).appendChild(newCell);
            
            table.appendChild(newRow);
        }
        else {
            span1.setAttribute("data-trId", rowCount - 1);
            span1.setAttribute("data-tdId", lastRowColCount);
            
            lastRow.insertCell(lastRowColCount).appendChild(newCell);           
        }
        setClickToSpan();
    });

    connection.start();
</script>
